.graphCard {
    box-sizing: border-box;
    background-color: white;
    /* width: 730px; */
    width: 100%;
    height: 160px;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 5px 12px -10px rgba(0,0,0,0.59);
    align-items: center;
    justify-content: space-between;
}

.graphCard_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.graphCard_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.graphCard_footer span {
    font-size: 12px;
}

#graphCard_graph {
    height: 100px !important;
    width: 95% !important;
}